In [2]:
import datetime
import sqlite3

class Funcionario:

    def __init__(self, idFuncionario:int, nome:str, sobrenome:str, dataDeNascimento:datetime, aptoParaEmbarque:bool):
        self.idFuncionario = idFuncionario
        self.nome = nome
        self.sobrenome = sobrenome
        self.dataDeNascimento = dataDeNascimento
        self.aptoParaEmbarque = aptoParaEmbarque
    

    
    # Faça um codigo em python para armazenar dadods em sqlite

conn = sqlite3.connect('mydatabase.db')

conn.execute('''DROP TABLE FUNCIONARIOS''')

conn.commit()

conn.close()




conn = sqlite3.connect('mydatabase.db')

conn.execute('''CREATE TABLE FUNCIONARIOS
             (IDFUNCIONARIO INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
             NOME TEXT NOT NULL,
             SOBRENOME TEXT NOT NULL,
             DATADENASCIMENTO DATETIME NOT NULL,
             APTOPARAEMBARQUE BOOL NOT NULL);''')

conn.close()


conn = sqlite3.connect('mydatabase.db')

funcionario1 = Funcionario(1, 'João', 'Silva', datetime.date(1990, 1, 1), True)
funcionario2 = Funcionario(2, 'Maria', 'Souza', datetime.date(1995, 5, 10), False)

conn.execute("INSERT INTO FUNCIONARIOS (IDFUNCIONARIO,NOME,SOBRENOME,DATADENASCIMENTO,APTOPARAEMBARQUE) \
              VALUES (?, ?, ?, ?, ?)", (funcionario1.idFuncionario, funcionario1.nome, 
                                         funcionario1.sobrenome, funcionario1.dataDeNascimento, 
                                         funcionario1.aptoParaEmbarque))

conn.execute("INSERT INTO FUNCIONARIOS (IDFUNCIONARIO,NOME,SOBRENOME,DATADENASCIMENTO,APTOPARAEMBARQUE) \
              VALUES (?, ?, ?, ?, ?)", (funcionario2.idFuncionario, funcionario2.nome, 
                                         funcionario2.sobrenome, funcionario2.dataDeNascimento, 
                                         funcionario2.aptoParaEmbarque))

conn.commit()

conn.close()



class Embarque:

    def __init__(self, idEmbarque:int, dataEmbarque:datetime, dataDesembarque:datetime, idTrabalhador: int, comentario:str):
        self.idEmbarque = idEmbarque
        self.dataEmbarque = dataEmbarque
        self.dataDesembarque = dataDesembarque
        self.idTrabalhador = idTrabalhador
        self.comentario = comentario
conn = sqlite3.connect('mydatabase.db')

conn.execute('''DROP TABLE EMBARQUE''')

conn.commit()

conn.close()



conn = sqlite3.connect('mydatabase.db')

conn.execute('''CREATE TABLE EMBARQUE
             (ID_EMBARQUE INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
             DATA_EMBARQUE DATETIME NOT NULL,
             DATA_DESEMBARQUE DATETIME NOT NULL,
             ID_TRABALHADOR INT NOT NULL,
             COMENTARIO TEXT);''')

conn.close()
def selectFuncionarios():
    conn = sqlite3.connect('mydatabase.db')

    cursor = conn.cursor()
    cursor.execute('SELECT * FROM FUNCIONARIOS')

    resultados = cursor.fetchall()

    registros = []

    for linha in resultados:
        registro = {}
        registro['id'] = linha[0]
        registro['nome'] = linha[1]
        registro['sobrenome'] = linha[2]
        registro['dataDeNascimento'] = linha[3]
        registro['aptoParaEmbarque'] = linha[4]
        registros.append(registro)

    idsBd = []
    for i in range(len(registros)):
        idsBd.append(registros[i]['id'])
    cursor.close()
    conn.close()
    return idsBd

conn = sqlite3.connect('mydatabase.db')

data_embarque1 = datetime.datetime(2022, 4, 1)
data_desembarque1 = datetime.datetime(2022, 4, 3)

data_embarque2 = datetime.datetime(2022, 4, 3)
data_desembarque2 = datetime.datetime(2022, 4, 5)

id1 = 1
id2 = 2

if data_desembarque1 > data_embarque1 and data_desembarque2 > data_embarque2:
    embarque1 = Embarque(5, data_embarque1, data_desembarque1, id1, "Comentário sobre o embarque 1")
    embarque2 = Embarque(6, data_embarque2, data_desembarque2, id2, "Comentário sobre o embarque 2")
    idsBd = selectFuncionarios()
    if id1 in idsBd and id2 in idsBd:
        conn.execute(f"INSERT INTO EMBARQUE (ID_EMBARQUE, DATA_EMBARQUE, DATA_DESEMBARQUE, ID_TRABALHADOR, COMENTARIO) \
                VALUES ({embarque1.idEmbarque}, '{embarque1.dataEmbarque}', '{embarque1.dataDesembarque}', \
                {embarque1.idTrabalhador}, '{embarque1.comentario}')")
        conn.execute(f"INSERT INTO EMBARQUE (ID_EMBARQUE, DATA_EMBARQUE, DATA_DESEMBARQUE, ID_TRABALHADOR, COMENTARIO) \
                VALUES ({embarque2.idEmbarque}, '{embarque2.dataEmbarque}', '{embarque2.dataDesembarque}', \
                {embarque2.idTrabalhador}, '{embarque2.comentario}')")
    else:
        print("Algum id não pertence a nenhum funcionario")
else:
    print("A data de embarque selecionada é depois da data de desembarque")

conn.commit()

conn.close()

In [3]:

conn = sqlite3.connect('mydatabase.db')

conn.execute('''DROP TABLE FUNCIONARIOS''')

conn.commit()

conn.close()

In [4]:


conn = sqlite3.connect('mydatabase.db')

conn.execute('''CREATE TABLE FUNCIONARIOS
             (IDFUNCIONARIO INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
             NOME TEXT NOT NULL,
             SOBRENOME TEXT NOT NULL,
             DATADENASCIMENTO DATETIME NOT NULL,
             APTOPARAEMBARQUE BOOL NOT NULL);''')

conn.close()

In [5]:


conn = sqlite3.connect('mydatabase.db')

funcionario1 = Funcionario(1, 'João', 'Silva', datetime.date(1990, 1, 1), True)
funcionario2 = Funcionario(2, 'Maria', 'Souza', datetime.date(1995, 5, 10), False)

conn.execute("INSERT INTO FUNCIONARIOS (IDFUNCIONARIO,NOME,SOBRENOME,DATADENASCIMENTO,APTOPARAEMBARQUE) \
              VALUES (?, ?, ?, ?, ?)", (funcionario1.idFuncionario, funcionario1.nome, 
                                         funcionario1.sobrenome, funcionario1.dataDeNascimento, 
                                         funcionario1.aptoParaEmbarque))

conn.execute("INSERT INTO FUNCIONARIOS (IDFUNCIONARIO,NOME,SOBRENOME,DATADENASCIMENTO,APTOPARAEMBARQUE) \
              VALUES (?, ?, ?, ?, ?)", (funcionario2.idFuncionario, funcionario2.nome, 
                                         funcionario2.sobrenome, funcionario2.dataDeNascimento, 
                                         funcionario2.aptoParaEmbarque))

conn.commit()

conn.close()

In [6]:


class Embarque:

    def __init__(self, idEmbarque:int, dataEmbarque:datetime, dataDesembarque:datetime, idTrabalhador: int, comentario:str):
        self.idEmbarque = idEmbarque
        self.dataEmbarque = dataEmbarque
        self.dataDesembarque = dataDesembarque
        self.idTrabalhador = idTrabalhador
        self.comentario = comentario

In [7]:
conn = sqlite3.connect('mydatabase.db')

conn.execute('''DROP TABLE EMBARQUE''')

conn.commit()

conn.close()

In [8]:


conn = sqlite3.connect('mydatabase.db')

conn.execute('''CREATE TABLE EMBARQUE
             (ID_EMBARQUE INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
             DATA_EMBARQUE DATETIME NOT NULL,
             DATA_DESEMBARQUE DATETIME NOT NULL,
             ID_TRABALHADOR INT NOT NULL,
             COMENTARIO TEXT);''')

conn.close()

In [9]:
def selectFuncionarios():
    conn = sqlite3.connect('mydatabase.db')

    cursor = conn.cursor()
    cursor.execute('SELECT * FROM FUNCIONARIOS')

    resultados = cursor.fetchall()

    registros = []

    for linha in resultados:
        registro = {}
        registro['id'] = linha[0]
        registro['nome'] = linha[1]
        registro['sobrenome'] = linha[2]
        registro['dataDeNascimento'] = linha[3]
        registro['aptoParaEmbarque'] = linha[4]
        registros.append(registro)

    idsBd = []
    for i in range(len(registros)):
        idsBd.append(registros[i]['id'])
    cursor.close()
    conn.close()
    return idsBd

In [10]:
conn = sqlite3.connect('mydatabase.db')

data_embarque1 = datetime.datetime(2022, 4, 1)
data_desembarque1 = datetime.datetime(2022, 4, 3)

data_embarque2 = datetime.datetime(2022, 4, 3)
data_desembarque2 = datetime.datetime(2022, 4, 5)

id1 = 1
id2 = 2

if data_desembarque1 > data_embarque1 and data_desembarque2 > data_embarque2:
    embarque1 = Embarque(5, data_embarque1, data_desembarque1, id1, "Comentário sobre o embarque 1")
    embarque2 = Embarque(6, data_embarque2, data_desembarque2, id2, "Comentário sobre o embarque 2")
    idsBd = selectFuncionarios()
    if id1 in idsBd and id2 in idsBd:
        conn.execute(f"INSERT INTO EMBARQUE (ID_EMBARQUE, DATA_EMBARQUE, DATA_DESEMBARQUE, ID_TRABALHADOR, COMENTARIO) \
                VALUES ({embarque1.idEmbarque}, '{embarque1.dataEmbarque}', '{embarque1.dataDesembarque}', \
                {embarque1.idTrabalhador}, '{embarque1.comentario}')")
        conn.execute(f"INSERT INTO EMBARQUE (ID_EMBARQUE, DATA_EMBARQUE, DATA_DESEMBARQUE, ID_TRABALHADOR, COMENTARIO) \
                VALUES ({embarque2.idEmbarque}, '{embarque2.dataEmbarque}', '{embarque2.dataDesembarque}', \
                {embarque2.idTrabalhador}, '{embarque2.comentario}')")
    else:
        print("Algum id não pertence a nenhum funcionario")
else:
    print("A data de embarque selecionada é depois da data de desembarque")

conn.commit()

conn.close()

In [19]:
def selectNomeEmbarqueDesembarque():
    conn = conectar()
    cursor2 = conn.cursor()

    cursor2.execute('SELECT f.NOME || " " || f.SOBRENOME, em.DATA_EMBARQUE, em.DATA_DESEMBARQUE FROM FUNCIONARIOS f JOIN EMBARQUE em ON f.IDFUNCIONARIO = em.ID_TRABALHADOR')

    resultados2 = cursor2.fetchall()

    registros2 = []

    for linha2 in resultados2:
        registro2 = {}
        registro2['nome'] = linha2[0]
        registro2['embarque'] = linha2[1]
        registro2['desembarque'] = linha2[2]
        registros2.append(registro2)

    print(registros2)
    cursor2.close()
    conn.close()

In [18]:

def conectar():
    conn = sqlite3.connect('mydatabase.db')
    return conn

def insertFuncionario(nome, sobrenome, dataDeNascimento, aptoParaEmbarque):
    conn = conectar()
    conn.execute("INSERT INTO FUNCIONARIOS (NOME, SOBRENOME, DATADENASCIMENTO, APTOPARAEMBARQUE) \
                  VALUES (?, ?, ?, ?)", (nome, sobrenome, dataDeNascimento, aptoParaEmbarque))
    conn.commit()
    conn.close()

def insertEmbarque(dataEmbarque:datetime, dataDesembarque:datetime, idTrabalhador: int, comentario:str=None):
    idsBd = selectFuncionarios()
    if dataDesembarque > dataEmbarque:
        if idTrabalhador in idsBd:
            conn = conectar()
            conn.execute(f"INSERT INTO EMBARQUE (DATA_EMBARQUE, DATA_DESEMBARQUE, ID_TRABALHADOR, COMENTARIO) \
                        VALUES  (?, ?, ?, ?)", (dataEmbarque, dataDesembarque, idTrabalhador, comentario))
        else: 
            print("Algum id não pertence a nenhum funcionario")
    else:
        print("A data de embarque selecionada é depois da data de desembarque")
    conn.commit()
    conn.close()

def updateFuncionario(self, id:int, novoNome:str=None, novoSobrenome:str=None, novaDataNascimento:str=None, novaSituacao:bool=None):
    conn = conectar()
    if novoNome:
        conn.execute(f'UPDATE FUNCIONARIOS SET NOME = {novoNome} WHERE IDFUNCIONARIO = {id}')
    if novoSobrenome:
        conn.execute(f'UPDATE FUNCIONARIOS SET SOBRENOME = {novoSobrenome} WHERE IDFUNCIONARIO = {id}')
    if novaDataNascimento:
        conn.execute(f'UPDATE FUNCIONARIOS SET DATADENASCIMENTO = {novaDataNascimento} WHERE IDFUNCIONARIO = {id}')
    if novaSituacao:
        conn.execute(f'UPDATE FUNCIONARIOS SET APTOPARAEMBARQUE = {novaSituacao} WHERE IDFUNCIONARIO = {id}')
    conn.commit()
    conn.close()

def updateEmbarque(self, id:int, novaDataEmbarque:datetime=None, novaDataDesembarque:datetime=None, novoId:int=None, novoComentario:str=None):
    conn = conectar()
    if novaDataEmbarque:
        conn.execute(f'UPDATE FUNCIONARIOS SET DATA_EMBARQUE = {novaData} WHERE ID_EMBARQUE = {id}')
    if novaDataDesembarque:
        conn.execute(f'UPDATE FUNCIONARIOS SET DATA_DESEMBARQUE = {novaData} WHERE ID_EMBARQUE = {id}')
    if novoId:
        conn.execute(f'UPDATE FUNCIONARIOS SET ID_TRABALHADOR = {novoId} WHERE ID_EMBARQUE = {id}')
    if novoComentario:
        conn.execute(f'UPDATE FUNCIONARIOS SET COMENTARIO = {novoComentario} WHERE ID_EMBARQUE = {id}')
    conn.commit()
    conn.close()

def deleteFuncionario(id:int):
    conn = conectar()
    if id:
        conn.execute(f'DELETE FUNCIONARIOS WHERE IDFUNCIONARIO = {id}')
    conn.commit()
    conn.close()

def deleteEmbarque(id:int):
    conn = conectar()
    if id:
        conn.execute(f'DELETE EMBARQUE WHERE ID_EMBARQUE = {id}')
    conn.commit()
    conn.close()